@model List<TbProduct>


<div class="fh5co-page-title" style="background-image: url(images/slide_6.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate-box">
                <h1><span class="colored">Buy</span> Properties</h1>
            </div>
        </div>
    </div>
</div>

}<div id="best-deal">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
                <h2>We are Offering the Best Real Estate Deals</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>


            @foreach (var item in Model)
            {
                <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co-property">
                        <figure>
                            <img src="@string.Format("/Uploads/{0}",item.ImageName)" alt="@item.ProductName" class="img-responsive">
                            <a href="#" class="tag">For @item.Category.CategoryName</a>
                        </figure>
                        <div class="fh5co-property-innter">
                            <h3><a href="#">@item.ProductName</a></h3>
                            <div class="price-status">
                                <span class="price">$@item.ProductSalePrice </span>
                            </div>
                            <p>@item.Description.</p>
                        </div>

                    </div>
                </div>
            }


        </div>
    </div>
</div>



<div id="fh5co-agents">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading white animate-box" data-animate-effect="fadeIn">
                <h2>Our Trusted Agents</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
            <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">

                <div class="fh5co-agent">
                    <figure>
                        <img src="~/images/testimonial_person2.jpg" alt="Free Website Template by FreeHTML5.co">
                    </figure>
                    <h3>John Doe</h3>
                    <p>Veniam laudantium rem odio quod, beatae voluptates natus animi fugiat provident voluptatibus. Debitis assumenda, possimus ducimus omnis.</p>
                    <p><a href="#" class="btn btn-primary btn-outline">Contact Me</a></p>
                </div>

            </div>
            <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-agent">
                    <figure>
                        <img src="~/images/testimonial_person3.jpg" alt="Free Website Template by FreeHTML5.co">
                    </figure>
                    <h3>John Doe</h3>
                    <p>Veniam laudantium rem odio quod, beatae voluptates natus animi fugiat provident voluptatibus. Debitis assumenda, possimus ducimus omnis.</p>
                    <p><a href="#" class="btn btn-primary btn-outline">Contact Me</a></p>
                </div>
            </div>
            <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-agent">
                    <figure>
                        <img src="~/images/testimonial_person4.jpg" alt="Free Website Template by FreeHTML5.co">
                    </figure>
                    <h3>John Doe</h3>
                    <p>Veniam laudantium rem odio quod, beatae voluptates natus animi fugiat provident voluptatibus. Debitis assumenda, possimus ducimus omnis.</p>
                    <p><a href="#" class="btn btn-primary btn-outline">Contact Me</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="fh5co-cta" style="background-image: url(images/slide_4.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12 text-center animate-box">
            <h3>We Try To Update The Site Everyday</h3>
        </div>
    </div>
</div>
